* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

/* boarder */
.radius-none {
  border-radius: 0;
}

/* flexbox */
.flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-middle {
  align-items: center;
}


/* padding */
.padding-all-sm {
  padding: 5px;
}

.padding-all-md {
  padding: 10px;
}

.padding-bottom-sm {
  padding-bottom: 5px;
}

.padding-bottom-md {
  padding-bottom: 10px;
}

.padding-bottom-lg {
  padding-bottom: 15px;
}

/* margin */
.margin-remove {
  margin: 0;
}

.margin-remove-top {
  margin-top: 0;
}

/*  */
.vh-100 {
  height: 100vh;
}

.container-auth form {
  min-width: 300px;
  width: 33%;
}

/* Main */
#root > main {
  padding-bottom: 48.85px;
}

/* Footer */
#root > footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* semantic-ui customization */
h1, h2, h3, h4, h5,
h2.ui.header,
h3.ui.header,
header .ui.menu,
.ui.menu .item>i.icon,
i.icon {
  margin: 0;
}

header .ui.menu,
main .ui.segments,
main .ui.segment,
footer .ui.segment {
  border-radius: 0;
}

.border-top-remove,
.ui.segment.border-top-remove {
  border-top: 0;
}

